<section id="tasks">
  <header>
    <h2>{{ userName }}'s Tasks</h2>
    <menu>
      <button (click)="(openNewTaskDialog)">Add Task</button>
    </menu>
  </header>

  @if (showNewTaskDialog) {
  <app-new-task [userId]="user().id" (closeDialog)="(closeNewTaskDialog)" />
  <!-- (submittedTask)="addNewTask($event)" now handled by angular dep inject-->

  }

  <ul>
    @for (task of userTasks; track task.id) {
    <li><app-task [task]="task" /></li>
    <!-- (completedTask)="completeTask($event)" now handldded by angular dep inject -->
    }
  </ul>
</section>
